.vjs-p .player-controller {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 64px;
    background-image: linear-gradient(0deg, #000, transparent);
    transition: opacity 200ms;
    color: white;
}

.vjs-p .player-menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.vjs-p .player-menu-cell {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #7a7b7c;
}

.vjs-p .player-multiple-play {
    width: 64px;
    height: 120px;
}

.vjs-p .player-controller-actions-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.vjs-p .player-right-box {
    font-size: 14px;
    color: #7a7b7c;
    cursor: pointer;
    margin-right: 12px;
}

.vjs-p .player-controller-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2px;
}

.vjs-p .player-mid-box-time {
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
    margin-right: 8px;
    font-family: monospace;
}

.vjs-p .player-controller-play {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 4px;
}

.vjs-p .player-controller-progress {
    width: calc(100% - 28px);
    margin-left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.vjs-p .player-volume {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 16px;
    margin-left: 8px;
}

.vjs-p .player-volume-slider {
    width: 60px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.vjs-p .player-volume-box {
    display: flex;
    flex-direction: row;
}
