.vjs-p {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.vjs-p * {
    pointer-events: auto;
}
.vjs-p.disabled * {
    pointer-events: none;
}
.vjs-p .videojs-plugin-close-icon,
.vjs-p .player-controller,
.vjs-p .videojs-plugin-muted-alert {
    pointer-events: auto;
}
.vjs-p.disabled .videojs-plugin-close-icon,
.vjs-p.disabled .player-controller {
    pointer-events: none;
}
.vjs-p .video-js-plugin-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.video-js,
[data-vjs-player] {
    width: 100%;
    height: 100%;
}
.vjs-p .videojs-plugin-muted-alert {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 43;
}
.vjs-p .videojs-plugin-muted-alert::before {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 43;
    content: "\f104";
    background: rgba(0, 0, 0, 0.3);
    font-family: VideoJS;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.vjs-p .videojs-plugin-recovery-mode {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 44;
}
.vjs-p .videojs-plugin-recovery-mode button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
